<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CRUD - Create</title>
        <!-- Enlazar con el archivo de estilos de Tailwind -->
        <link href="//cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body>
        <header class="bg-gray-800 py-4">
            <div class="container mx-auto flex justify-between items-center px-4">
                <h1 class="text-white text-2xl">Mi aplicación</h1>
                <nav class="text-white">
                    <a href="/" class="mx-4 hover:text-gray-400">Pagina de inicio</a>
                    <a href="/crud/create" class="mx-4 hover:text-gray-400">Create</a>
                    <a href="/crud/read" class="mx-4 hover:text-gray-400">Read</a>
                    <a href="#" class="mx-4 hover:text-gray-400">Update</a>
                    <a href="#" class="mx-4 hover:text-gray-400">Delete</a>
                </nav>
            </div>
        </header>
        <div class="grid grid-cols-2 gap-8">
            <form id="formText" action="create/text" onsubmit="enviarFormulario(e)" onsub class="bg-white p-6 rounded-lg shadow-md" method="POST">
                <div class="mb-4">
                    <label class="text-xl text-gray-600">Nombre</label>
                    <input class="border-2 border-gray-300 p-2 w-full" type="text" name="nombreText" required>
                </div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Enviar</button>
            </form>
            <form id="formFile" action="crud/create/file" onsubmit="enviarFormulario(e)" class="bg-white p-6 rounded-lg shadow-md" method="POST" enctype="multipart/form-data">
                <div class="mb-4">
                    <label class="text-xl text-gray-600">Nombre</label>
                    <input class="border-2 border-gray-300 p-2 w-full" type="text" name="nombreFile" required>
                    <label class="text-xl text-gray-600">Subir archivo</label>
                    <input class="border-2 border-gray-300 p-2 w-full" type="file" name="archivo" required>
                </div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Enviar</button>
            </form>
        </div>

        <script>
            function enviarFormulario(e){
                e.preventDefault();
            }
        </script>

    </body>

</html>